.wy-nav-content {
   max-width: 900px
}

.wy-table-responsive table td, .wy-table-responsive table th {
    white-space: normal !important;
}

.wy-nav-side {
    padding-bottom: 3em;
}

.wy-menu {
    max-width: 500px
}
